.main-nav-bar {
  border-bottom: 1px solid #292C33;
}

img {
width: 100%
}


.player-cards {
  height: 85%;
}

.player-card {
  height: 90%
}

.card-picture {
  height: 70%;
  width: 100%;
  border-radius: 50%;
}

.game-container {
  background-color: blue;
  height: 900px;
  }



body {
  background-color: #e4efe7;

}

.attack-button {

}
